target/
project/project/
/data/
.project
.classpath
.cache
.settings
lib_managed/
scala-logic/scalabha/
scala-logic/target/
scala-logic/.classpath
scala-logic/.project
scala-logic/.cache
tmp/
resources/sts
