target/
condor/
project/project/
.project
.classpath
.cache
.settings
lib_managed/
scala-logic/scalabha/
scala-logic/target/
scala-logic/.classpath
scala-logic/.project
scala-logic/.cache
tmp/
*.o
candc/bin/
candc/models
alchemy/bin/
*.db
psl/run
*.class
*~
lib/ws4j-1.0.1.jar
temp-*.mln
*.arff
easyccg/bin/
easyccg/model.tar.gz
easyccg/model/
easyccg/model_rebank.tar.gz
easyccg/easyccg.jar
easyccg/lib/
resources/*.idx/
resources/ppdb/*.idx
results
.DS_Store